chr21.anc.vcf.gz filter=lfs diff=lfs merge=lfs -text
chr21.global.anc.gz filter=lfs diff=lfs merge=lfs -text
chr21.fb.tsv filter=lfs diff=lfs merge=lfs -text
chr21.msp.tsv filter=lfs diff=lfs merge=lfs -text
chr21.sis.tsv filter=lfs diff=lfs merge=lfs -text
chr21.rfmix.Q filter=lfs diff=lfs merge=lfs -text
